.eachcard>a{
    text-decoration: none;
    color: black;

}
.exploreproducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13px 13px;
    background: whitesmoke;
}
.exploreproducts-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explore-btn {
    padding: 10px 30px;
    margin: 0px 0px 13px 0px;
    border: 1px solid transparent;
    border-radius: 23px;
    color: white;
    background: #414934;
    transition-duration: 0.2s;

    
}
.explore-btn:hover{
    background: transparent;
}
.explore-btn:hover{
    border: 1px solid black;
    color: black;
}
